<div ng-module="app.auth">
  <section>
    <div>

      <img class="splash-logo" src="../../styles/assets/kx_grey_large.png">
      <br><br>
      <span><h1 class="md-display-3 splash-name">karma exchange</h1></span>
      <h3 class="splash-description">invest in your friends. manage your online presence.</h3>
      <div md-content  layout-align='center center'layout='row'layout-align ='center center' class=cardContainer>
        <div flex-sm="50" flex-xs="50" >
            <md-button class="md-raised md-primary"ng-href='/auth/facebook'>

                <span class="text">
                  <img class="png-icon" src="/styles/assets/facebook-box.png"style="width: 24px; height: 24px;">sign in with facebook
                </span>
            </md-button>
        </div>
      </div>
    </div>
  </section>
  <br><br>
  <p style="text-align: center;text-decoration: underline;font-family:'sf-text';font-size:25px;color:rgb(66,66,66)"> <i> scroll for more information </i> </p>
  <br><br>

  <section>
   <p style="text-align: center;font-family:'sf-text';font-size:25px;color:rgb(66,66,66);opacity:0.7"> Check out our ionic implementation </p>
    <img src="../styles/assets/KarmaGif.gif" style="margin-left:37.5%;margin-right:37.5%">
  </section>
  <br>

  <section>
    <p style="text-align:center;font-size:25px;color:rgb(66,66,66);opacity:0.7;font-family:'sf-text'"> Meet the team </p>
    <md-content layout="row" layout-align="center">

     <md-card flex="20">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Neeraj Kohirkar</span>
            <span class="md-subhead">Product Owner and Full Stack Engineer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"> <img src="../../styles/assets/neeraj2.png" style="width:170px;height:200px;"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="../../styles/assets/linkedin-logo-button.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="../../styles/assets/github.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <md-card flex="20">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kyle Morehead</span>
            <span class="md-subhead">SCRUM Master and Full Stack Engineer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"> <img src="../../styles/assets/kyle.png" style="width:170px;height:200px"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="../../styles/assets/linkedin-logo-button.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="../../styles/assets/github.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <md-card flex="20">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Ranjit Rao</span>
            <span class="md-subhead">Full Stack Engineer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"> <img src="../../styles/assets/ranjit.png" style="width:170px;height:200px"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="../../styles/assets/linkedin-logo-button.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="../../styles/assets/github.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>

      <md-card flex="20">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kartik Vempati</span>
            <span class="md-subhead">Full Stack Engineer</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"> <img src="../../styles/assets/kartik.png" style="width:170px;height:200px"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="../../styles/assets/linkedin-logo-button.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="../../styles/assets/github.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>


  
  </md-content>

  </section>

  <!-- <a href="/auth/facebook"> Login to Facebook </a> -->
</div>
