<div ng-module="app.auth">
  <div class='auth'>
    <span><img class="splash-logo" src="../../styles/assets/kx_grey_large.png"></span>
    <br><br>
    <span><h1 class="md-display-3 splash-name">karma exchange</h1></span>
    <h3 class="splash-description">invest in your friends. manage your online presence.</h3>
    <div md-content  layout-align='center center'layout='row'layout-align ='center center' class=cardContainer>
      <div flex-sm="50" flex-xs="50" >
          <md-button class="md-raised md-primary" ng-href='/auth/facebook'>
              <span class="text">
                <img class="png-icon" src="/styles/assets/facebook-box.png"style="width: 24px; height: 24px;">sign in with facebook
              </span>
          </md-button>
      </div>
    </div>
  </div>

  <!-- <a href="/auth/facebook"> Login to Facebook </a> -->
</div>
