<md-dialog ng-init="checkSharesAvail()">
  <md-dialog-content>
   <div> 
   	<p>How many shares would you like to buy?</p> I would like to buy <input ng-model="sharesToBuy"/> shares of {{profile.name}}
   	</div>

    <md-button ng-click="confirm()" class="md-primary" aria-label="Complete" ng-hide="revealOptions"> Confirm </md-button>

    <md-button class="md-primary" ng-click="exit()" aria-label="Complete" ng-hide="revealOptions"> Cancel </md-button>
    <p ng-show = "revealOptions">You have selected more shares than are currently available. You have the following options:</p>
 
    <p ng-show = "revealOptions"> You may choose to make a partial purchase of {{availableShares}} shares and allow the rest of your transaction to be completed upon market availability.</p>

    <p ng-show = "revealOptions">You may choose to make a partial purchase of {{availableShares}} shares and immediately buy the remaining shares in your order from Karma Exchange at 110% of current market value.</p>

    <p ng-show="revealOptions">Or you may cancel your request</p>

    <md-button class="md-primary" ng-click="wait()" aria-label="Complete" ng-show="revealOptions"> Wait For Availability</md-button>

    <md-button class="md-primary" ng-click="buyDirect()" aria-label="Complete" ng-show="revealOptions"> Buy From Karma Exchange</md-button>

    <md-button class="md-primary" ng-click="exit()" aria-label="Complete" ng-show="revealOptions"> Cancel Your Order</md-button>



    
  </md-dialog-content>

</md-dialog>