<md-dialog ng-init="checkSharesAvail()" style="width:30%;">
  <md-dialog-content layout-padding class="dialog">
    <md-content class="modal-selector">
        <div layout="row" layout-align="center center">
          <div layout-align="center center">
            <md-input-container>
              <label>Amount</label>
              <input ng-model="sharesToBuy" type="number" step="1" min='0'>
            </md-input-container>
          </div>
          <div layout-align="start end">
            <p>shares at {{profile.currentScore}} Karma/share</p>
          </div>
        </div>
      <div layout="row" layout-align="center center">
        <p>Total: {{profile.currentScore * sharesToBuy}}</p>
      </div>
    </md-content>
    <div layout="row" layout-align="center center">
      <md-button ng-click="confirm()" class="md-primary md-raised" aria-label="Complete" ng-hide="revealOptions" style="background-color:#29a329;">
        <md-icon md-svg-src="styles/assets/ic_done_black_48px.svg"></md-icon>
      </md-button>
      <md-button  ng-click="exit()" class="md-primary md-raised" aria-label="Complete" ng-hide="revealOptions" style="background-color: #8c8c8c;">
        <md-icon md-svg-src="styles/assets/ic_close_black_48px.svg"></md-icon>
      </md-button>
    </div>
    <p ng-show="revealOptions">There are {{availableShares}} shares available.</p>
    <div layout="column" layout-align="center start">
      <p ng-show="revealOptions">Buy {{availableShares}} now and buy the rest later.</p>
      <p ng-show="revealOptions">Buy {{availableShares}} shares and pay 110% market value for the remaining {{sharesToBuy - availableShares}} shares.</p>
      <p ng-show="revealOptions">Or you may cancel your request.</p>
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-primary" ng-click="wait()" aria-label="Complete" ng-show="revealOptions" style="background-color:#29a329;">
        <md-icon md-svg-src="styles/assets/ic_watch_later_black_24px.svg"></md-icon>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="buyDirect()" aria-label="Complete" ng-show="revealOptions" style="background-color:#29a329;">
        <md-icon md-svg-src="styles/assets/ic_done_black_48px.svg"></md-icon>
      </md-button>
      <md-button class="md-primary md-raised" ng-click="exit()" aria-label="Complete" ng-show="revealOptions" style="background-color: #8c8c8c;">
        <md-icon md-svg-src="styles/assets/ic_close_black_48px.svg"></md-icon>
      </md-button>
    </div>
    <p class="errorMessage" ng-show="errorMessage"> Sorry, you do not have enough karma. Please change the amount of shares you'd like to buy.</p>
  </md-dialog-content>
</md-dialog>
