<div ng-module="app.portfolio">


  <h2 ng-show = "currentInvestmentsView" class="md-display-2"> Current Investments </h2>
  <h2 ng-show = "transactionHistoryView" class="md-display-2"> Transaction History </h2>
  <h2 ng-show = "openTransactionsView" class="md-display-2"> Open Transactions </h2>
    <md-button class="md-raised" ng-click = "toggleViews('currentInvestments')">Show Current Investments</md-button>
    <md-button class="md-raised" ng-click = "toggleViews('transactionHistory')">Show Transaction History</md-button>
    <md-button class="md-raised" ng-click = "toggleOpenTransactions()">Show Open Transactions</md-button>

 <md-card>
  <md-table-container>
    <table md-table ng-show="currentInvestmentsView" class="table md-table">
      <thead md-head class="table">
        <tr md-row class="table">
          <th md-column colspan="10"> Name </th>
          <th md-column colspan="10"> Current Value </th>
          <th md-column> Recent Trend </th>
          <th md-column> Shares </th>
          <th md-column> Expected Profit </th>
          <th md-column> Sell </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="investment in investments" ng-init = 'getScores(investment.target_id, investment)'>
          <td md-cell colspan="10"> {{investment.name}} </td>
          <td md-cell colspan="10"> {{investment.currentScore}} </td>
          <td md-cell> <canvas id="line" class="chart chart-line" chart-data="investment.data" chart-labels="labels" chart-legend="false" chart-series="investment.series" chart-click="onClick" ></canvas></td>
          <td md-cell> {{investment.numberShares}} </td>
          <td md-cell> {{investment.profit}} </td>
          <td md-cell>
            <div layout="column" ng-cloak>
              <md-button ng-click="clickSell(investment)" class="md-raised"> Sell </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </md-table-container>

</md-card>
     <!-- Current Investments View -->
  <div ng-show = "transactionHistoryView"><span><md-button ng-click = "tableVersion = false" class="md-raised">Text Version</md-button><md-button ng-click = "tableVersion = true" class="md-raised">Table version</md-button></span>
  </div>

    <!-- Transaction History View -->
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="transaction in transactions" ng-init="buildHistString(transaction)" ng-show="transactionHistoryView && !tableVersion">
        <div class="md-list-item-text">
          <h3>{{transaction.string}}</h3>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>

     <md-card>
  <md-table-container>
    <table md-table ng-show="transactionHistoryView && tableVersion">
      <thead md-head class="table">
        <tr md-row class="table">
          <th md-column colspan="10"> Name </th>
          <th md-column colspan="10"> Transaction Type </th>
          <th md-column> Shares </th>
          <th md-column> Karma </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="transaction in transactions">
          <td md-cell colspan="10"> {{transaction.target_name}} </td>
          <td md-cell colspan="10"> {{transaction.type}} </td>
          <td md-cell colspan="10"> {{transaction.numberShares}} </td>
          <td md-cell colspan="10"> {{transaction.karma}} </td>
        </tr>
      </tbody>
    </table>

  </md-table-container>

</md-card>

<!-- Open Transactions View -->
<!--   <div ng-repeat="openTransaction in openTransactions" ng-init = "" ng-show = "openTransactionsView && !tableVersion">
      <p>{{openTransaction.string}</p>
      <p>openTransaction</p>
    </div>
 -->

 <md-card>
  <md-table-container>
    <table md-table ng-show="openTransactionsView">
      <thead md-head>
        <tr class="table"md-row>
          <th md-column colspan="10"> Name </th>
          <th md-column colspan="10"> Current Value </th>
          <th md-column> Transaction Type </th>
          <th md-column> Shares </th>
          <th md-column> Cancel </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="openTransaction in openTransactions track by $index">
          <td md-cell colspan="10"> {{openTransaction.target_name}} </td>
          <td md-cell colspan="10"> {{openTransaction.currentScore}} </td>
          <td md-cell colspan="10"> {{openTransaction.type}} </td>
          <td md-cell colspan="10"> {{openTransaction.numberShares}} </td>
          <td md-cell>
            <div layout="column" ng-cloak>
              <md-button ng-click="clickCancel(openTransaction.id, $index)" class="md-raised"> Cancel Transaction </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </md-table-container>
</div>
