<div ng-module="app.portfolio" ng-controller="PortfolioController as ctrl">


 <h2 ng-show = "currentInvestmentsView"> Your Current Investments </h2>
 <h2 ng-show = "transactionHistoryView"> Your Transaction History </h2>
 <h2 ng-show = "openTransactionsView"> Your Open Transactions </h2>
    <md-button class="md-raised" ng-click = "toggleViews('currentInvestments')">Show Current Investments</md-button> 
    <md-button class="md-raised" ng-click = "toggleViews('transactionHistory')">Show Transaction History</md-button>
    <md-button class="md-raised" ng-click = "toggleOpenTransactions()">Show Open Transactions</md-button>
 <br/>
 <br/>
 <br/>
     <!-- Current Investments View -->
    <table ng-show  = "currentInvestmentsView">
      <tr>
        <th> Name </th>
        <th> Current Market Value
        </th>
        <th> Trend </th>
        <th> Shares Owned </th>
        <th> Profit if you sell </th>
      </tr>
      <tr ng-repeat="investment in investments" ng-init = 'getScores(investment.target_id, investment)'>
        <td> {{investment.name}} </td>
        <td> Social: {{investment.currentScore}}</td>
        <td> <canvas id="line" class="chart chart-line" chart-data="investment.data" chart-labels="labels" chart-legend="false" chart-series="investment.series" chart-click="onClick" ></canvas> </td>
        <td> {{investment.numberShares}}</td>
        <td> {{investment.profit}} karma </td>
        <td>
          <div layout="column" ng-cloak>
            <md-content>
              <md-button ng-click="clickSell(investment)" class="md-raised">Sell Shares
              </md-button>
            </md-content>
          </div>
        </td>
      </tr>

    </table>
  <div ng-show = "transactionHistoryView"><span><md-button ng-click = "tableVersion = false" class="md-raised">Human friendly Version</md-button><md-button ng-click = "tableVersion = true" class="md-raised">Table version</md-button></span>
  </div>
  
    <!-- Transaction History View -->
    <table>
    <div ng-repeat="transaction in transactions" ng-init = "buildHistString(transaction)" ng-show = "transactionHistoryView && !tableVersion">
      <p>{{transaction.string}}</p>
    </div>

    <table ng-show = 'transactionHistoryView &&tableVersion'>
      <tr>
        <th> Name </th>
        <th> Type of Transaction </th>
        <th> Number of Shares </th>
        <th> Karma </th>
      </tr>
      <tr ng-repeat="transaction in transactions">
        <td> {{transaction.target_name}} </td>
        <td> {{transaction.type}} </td>
        <td> {{transaction.numberShares}}</td>
        <td> {{transaction.karma}} </td>
      </tr>

    </table>

    <!-- Open Transactions View -->
<!--   <div ng-repeat="openTransaction in openTransactions" ng-init = "" ng-show = "openTransactionsView && !tableVersion">
      <p>{{openTransaction.string}</p>
      <p>openTransaction</p>
    </div>
 -->
    <table ng-show = 'openTransactionsView'>
      <tr>
        <th> Name </th>
        <th> Current Market Value </th>
        <th> Type of Transaction </th>
        <th> Number of Shares </th>
      </tr>
      <tr ng-repeat="openTransaction in openTransactions track by $index">
        <td> {{openTransaction.target_name}} </td>
        <td> {{openTransaction.currentScore}} </td>
        <td> {{openTransaction.type}} </td>
        <td> {{openTransaction.numberShares}}</td>
        <td>  <div layout="column" ng-cloak>
            <md-content>
              <md-button ng-click="clickCancel(openTransaction.id, $index)" class="md-raised">Cancel Transaction
              </md-button>
            </md-content>
          </div>
        </td>
      </tr>

    </table>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

   

</div>