<div ng-module="app.portfolio" ng-controller="PortfolioController as ctrl">


  <h2 ng-show = "currentInvestmentsView"> Current Investments </h2>
  <h2 ng-show = "transactionHistoryView"> Transaction History </h2>
  <h2 ng-show = "openTransactionsView"> Open Transactions </h2>
    <md-button class="md-raised" ng-click = "toggleViews('currentInvestments')">Show Current Investments</md-button>
    <md-button class="md-raised" ng-click = "toggleViews('transactionHistory')">Show Transaction History</md-button>
    <md-button class="md-raised" ng-click = "toggleOpenTransactions()">Show Open Transactions</md-button>
 <br/>
 <br/>
 <br/>
  <md-table-container>
    <table md-table ng-show="currentInvestmentsView">
      <thead md-head>
        <tr md-row>
          <th md-column> Name </th>
          <th md-column> Current Value </th>
          <th md-column> Recent Trend </th>
          <th md-column> Shares </th>
          <th md-column> Expected Profit </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="investment in investments" ng-init = 'getScores(investment.target_id, investment)'>
          <td md-cell> {{investment.name}} </td>
          <td md-cell> {{investment.currentScore}} </td>
          <td md-cell> <canvas id="line" class="chart chart-line" chart-data="investment.data" chart-labels="labels" chart-legend="false" chart-series="investment.series" chart-click="onClick" ></canvas></td>
          <td md-cell> {{investment.numberShares}} </td>
          <td md-cell> {{investment.profit}} </td>
          <td md-cell>
            <div layout="column" ng-cloak>
              <md-button ng-click="clickSell(investment)" class="md-raised"> Sell </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{investments.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>
     <!-- Current Investments View -->
  <div ng-show = "transactionHistoryView"><span><md-button ng-click = "tableVersion = false" class="md-raised">Human friendly Version</md-button><md-button ng-click = "tableVersion = true" class="md-raised">Table version</md-button></span>
  </div>

    <!-- Transaction History View -->
    <table>
    <div ng-repeat="transaction in transactions" ng-init = "buildHistString(transaction)" ng-show = "transactionHistoryView && !tableVersion">
      <p>{{transaction.string}}</p>
    </div>

    <table ng-show = 'transactionHistoryView &&tableVersion'>
      <tr>
        <th> Name </th>
        <th> Transaction Type </th>
        <th> Shares </th>
        <th> Karma </th>
      </tr>
      <tr ng-repeat="transaction in transactions">
        <td> {{transaction.target_name}} </td>
        <td> {{transaction.type}} </td>
        <td> {{transaction.numberShares}}</td>
        <td> {{transaction.karma}} </td>
      </tr>
    </table>

<!-- Open Transactions View -->
<!--   <div ng-repeat="openTransaction in openTransactions" ng-init = "" ng-show = "openTransactionsView && !tableVersion">
      <p>{{openTransaction.string}</p>
      <p>openTransaction</p>
    </div>
 -->
    <table ng-show = 'openTransactionsView'>
      <tr>
        <th> Name </th>
        <th> Current Value </th>
        <th> Transaction Type </th>
        <th> Shares </th>
      </tr>
      <tr ng-repeat="openTransaction in openTransactions track by $index">
        <td> {{openTransaction.target_name}} </td>
        <td> {{openTransaction.currentScore}} </td>
        <td> {{openTransaction.type}} </td>
        <td> {{openTransaction.numberShares}}</td>
        <td>
          <div layout="column" ng-cloak>
            <md-content>
              <md-button ng-click="clickCancel(openTransaction.id, $index)" class="md-raised">Cancel Transaction
              </md-button>
            </md-content>
          </div>
        </td>
      </tr>
    </table>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
