<!-- 1st ROW -->
<md-content layout="row" flex>
  <!-- 1st CARD -->
  <md-card flex="40" style="height: 300px;">
    <md-card-title style="margin-bottom: 20px;">
      <md-card-title-media>
        <img class="img-circle center" style="width:200px;height:220px" ng-src="{{ user.profile_photo }}"/>
      </md-card-title-media>
    </md-card-title>
  </md-card>
  <!-- 2nd CARD -->
  <md-card flex="60" style="height: 300px;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline username">{{ user.name }}</span>
        <br>
        <span class="isNegative"ng-class="{'positive': isPositive}">{{changeDisplay}} </span>
        <span class="md-subhead score currentScore" style="font-size:25px">Score: {{ user.currentScore }}
          <md-button class="buyButton md-raised" ng-show="!isUser" ng-click="clickBuy()">Buy</md-button>
        </span>
        <span class="md-subhead viewReport"><md-button ng-show="wednesday || isUser" ng-click="clickReport()" class="buyButton md-raised"> Score Breakdown </md-button></span>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</md-content>

<!-- 2nd ROW -->
<md-content layout="row" flex>
  <!-- 3rd CARD -->
  <md-card flex="100">
    <md-card-title-text>
      <div class="md-headline center">Score History Over Past 30 Days</div>
    </md-card-title-text>
    <div>
      <canvas id="line" class="chart chart-line" chart-data="scores" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" height="25" width="100%">
      </canvas>
    </div>
  </md-card>
</md-content>
