
<md-dialog style="background-color:rgb(234,234,234);width:30%;height:65%">
  <md-dialog-content>
    <div>
    <md-list >
    <h2 class="md-display-1" style="text-align:center;"> <b>Score Breakdown</b> </h2>
      <md-list-item class="md-1-line" ng-repeat="detail in reportUser">
        <div class="md-list-item-text">
        {{detail}}
        </div>
        <md-divider> </md-divider>
      </md-list-item>
    </md-list>
</div>

    <md-button ng-click="exit()" class="md-primary closeReport" style="background-color:rgb(66,66,66);color:white;opacity:0.6" aria-label="Complete"> Close Report </md-button>

</md-dialog>