<!DOCTYPE HTML>

<html ng-app="app">
  <head>
    <title> Karma Exchange </title>
    <!-- styles -->
    <link rel="stylesheet" href="libs/angular-material/angular-material.css">
    <link rel="stylesheet" href="libs/angular-chart.js/dist/angular-chart.css">
    <link href="libs/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  
  <body ng-controller="IndexController">

    <md-toolbar class="fixed" layout="row" ng-show="loggedinUserInfo">
    <span class="logo"> <img src="./styles/assets/kx_grey.png"> </span>
    <span class="karma"> {{loggedinUserInfo.karma}} </span>
      <div flex>
        <span flex></span>
        <md-button class="profile" ng-click="viewProfile()" class="md-warn">  Profile  
         </md-button>
        <md-button class="fortune" ng-click="viewPortfolio()" class="md-accent">  Fortune  </md-button>
        <md-button class="navBar logout right" ng-click="logout()" > Logout </md-button>
          <md-input-container class="right md-warn md-hue-1">
            <label><img class="search-white" src="./styles/assets/search_white2.png"> </label>
            <md-icon md-png-src="./styles/assets/search.png"></md-icon>
            <input ng-model = "searchQuery" ng-change = "findUsersByPartial()" type="text"/>
            <div ng-repeat = "user in searchResults" ng-click = "resetSearch()">
              <md-card flex style="min-width:200px">
                <a href="/#/profile/{{user.id}}">
                  <md-card-content>
                <span> <img class="searchimage" src="{{user.profile_photo}}"> </span>
                <span> {{user.name}}: </span>
                <span> {{user.currentScore}} </span>
                </md-card-content>
                </a>
              </md-card>
              <md-card>
            </div>
          </md-input-container>
      </div>
    </md-toolbar>
        
    
    <div ng-class="{ 'ticker': loggedinUserInfo}" ng-show="loggedinUserInfo">
      <div ng-init='getLeaders()'>Highest Scores:
        <span>{{userOne}}, </span>
        <span>{{userTwo}}</span>
      </div>
      <div class="recentTransactions">
        <span>Most Recent Transactions on Karma Exchange:</span>
        <span ng-repeat="transaction in recentTransactions">
          <span> {{transaction.user_name}} {{transaction.type}}s {{transaction.numberShares}} shares of {{transaction.target_name}} </span>
        </span>
      </div>
    </div>
      <span></span>
      <span></span>
    </div>
    <div class = "spaceHolder">s</div>
    <script src="libs/angular/angular.min.js"> </script> 
    <div class = "view" ui-view> </div>

    <md-toolbar layout="row" ng-show="loggedinUserInfo">
    <span class="logo"> karma exchange. </span>
      <div flex>
        <span flex></span>
        <md-button class="footer" ng-click="viewProfile()" class="md-warn">  About Us  
         </md-button>
        <md-button class="footer" ng-click="viewPortfolio()" class="md-accent">  Privacy  </md-button>
        <md-button class="footer" ng-click="viewPortfolio()" class="md-accent">  Careers  </md-button>
      </div>
    </md-toolbar>

    <!-- dependancies -->
    <script src="libs/angular-route/angular-route.min.js"> </script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"> </script>
    <script src="libs/angular-animate/angular-animate.js" type="text/javascript"> </script>
    <script src="libs/angular-aria/angular-aria.js" type="text/javascript"> </script>
    <script src="libs/angular-messages/angular-messages.js" type="text/javascript"> </script>
    <script src="libs/angular-material/angular-material.js" type="text/javascript"> </script>
    <script src="libs/Chart.js/Chart.min.js"></script>
    <script src="libs/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="libs/socket.io-client/socket.io.js"> </script>
    <script type="text/javascript" src="libs/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script>
      window.socket = io.connect();
    </script>
    <!-- our app js -->
    <script src="app/app.js"> </script>
    <script src="app/controllers/profile.js"> </script>
    <script src="app/controllers/portfolio.js"> </script>
    <script src="app/controllers/transactionHist.js"> </script>
    <script src="app/controllers/auth.js"> </script>
    <script src="app/services/services.js"> </script>
    <script src="app/controllers/index.js"> </script>
  </body>

</html>