    
<ion-view view-title="Login" name="profile-view" hide-nav-bar="true">
  <ion-content class="padding">
    <div ng-module="app.auth">
      <div>      
        <img class = "karmaLogo center" src = "assets/kx_grey.png">  
        <h3 class = "center">Welcome to Karma Exchange<span class = "subheader-text"></h3>
          <span class = "button center button-fb" ng-href = "http://www.yahoo.com" ng-click = 'fbLogin()'>
            <button class = "ion-social-facebook button-fb" ></button> Sign In
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
