<div ng-module="app.auth">
  <div>
    <div md-content  layout-align='center center'layout='row'layout-align ='center center' class=cardContainer>
      <div flex-sm="50" flex-xs="50" >
        <md-card >
          <md-card-title layout-align ='space-between center'>
            <md-card-title-text layout-align='center center'>
              <span class="md-headline" >Sign in with Facebook</span>
            </md-card-title-text>
          </md-card-title>
          <md-button class="md-raised md-primary" ng-href='/auth/facebook'>
              Sign In
          </md-button>
        </md-card>
      </div>
    </div>
  </div>
  <!-- <a href="/auth/facebook"> Login to Facebook </a> -->
</div>
