<div ng-module="app.newsfeed">

  <h3> Newsfeed </h3>
    <table>
      <tr>
        <th class='user-header'> Trending Name </th>
        <th class='user-header'> Current Score </th>
        <th class='user-header'> Graph </th>
      </tr>
      <tr ng-repeat="trend in trending">
        <td> {{trend.name}} </td>
        <td> {{trend.currentScore}} </td>
        <td> Scores include {{trend.scores[0].score}} </td>
        <td>
          <form> 
            <input type="submit" value="Buy Shares"/> 
          </form>
        </td>
      </tr>
    </table>

</div>