<div ng-module="app.portfolio" ng-controller="PortfolioController as ctrl">


 <h2> My Current Investments </h2>
    <table>
      <tr>
        <th> Name </th>
        <th> Current Score </th>
        <th> Trend </th>
        <th> Shares Bought </th>
        <th> Buying Price </th>
        <th> Profit </th>
      </tr>
      <tr ng-repeat="investment in investments">
        <td> {{investment.name}} </td>
        <td> 99 </td>
        <td> <i>Graph of scores</i> </td>
        <td> {{investment.numberShares}} </td>
        <td> {{investment.buyingPrice}} </td>
        <td> {{investment.profit}} </td>
        <td>
          <div layout="column" ng-cloak>
            <md-content>
              <md-button ng-click="clickSell(investment)" class="md-raised">Sell Shares
              </md-button>
            </md-content>
          </div>
        </td>
      </tr>

    </table>
   

</div>