<div ng-module="app.profile">

  <section>

    <div>
      <img src="">
      <div>
        HERE IT IS {{testing.data}}

        SECOND TEST {{leaderTesting.data}}
      </div>
      <span> {{user.name}} </span>
      <span> My current score is {{user.currentScore}} </span>
    </div>

  </section>

  <section>
    <div> This is where the user graph will go. </div>
  </section>

  <section>
    Network Leaders
  </section>

  <section>
    Recommendations
    <ul ng-repeat="leader in leaders">
      <li> {{leader.name}}</li>
      <li> {{leader.score}} </li>
    </ul>
  </section>



</div>