<div ng-module="app.profile">

  <section>

    <div class = "user info">
      <img src="" alt = "{{user.name}}'s photo">
      <span> {{user.name}}'s</span>
      <span> current score is {{user.currentScore}} </span>
      <br/>
      <br/>

      <md-content class="md-padding">
    <md-button ng-click="test(investment.targetUser, investment.shares, investment.buyingPrice, investment.profit)" class="md-raised">Buy Shares</md-button>
  </md-content>

    </div>

  </section>

  <section>
    <div> This is where the user graph will go.
      <span ng-repeat = 'score in user.scores'>{{score.score}} </span>
     </div>
  </section>

  <section>
    Network Leaders
  </section>

  <section>
    Recommendations
    <ul ng-repeat="leader in leaders">
      <li> {{leader.name}}</li>
      <li> {{leader.score}} </li>
    </ul>
  </section>



</div>