@font-face {
  font-family: "sfText";
  src: url("./font.ttf") format("truetype");
}
  /*font-family: 'sfText';*/


html, body {
  background-color: rgb(234, 234, 234);
  font-family: 'sfText';
}
div.view{
  width: 100%;
  height:70%;
  background-color: red;
}

.md-display-3{
  width: 800px;
  margin: 0px auto;
  font-size: 80px;
  color: rgb(66,66,66);
}
.splash-logo {
  width: 200px;
  margin-left: 39%;
  margin-right: 39%;
  opacity:0.4;
}

.splash-name {
  text-align: center;
  opacity:0.6;
}

.splash-description {
  text-align: center;
  font-size: 25px;
  color: rgb(66,66,66);
  opacity: 0.6;
}

.facebook-login {
  width: 200px;
  height: 100px;
}
.right{
  float:right;
  padding-right: 10px;
}

.profile {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-left: 2%;
  margin-top: 1.5%;
  font-size: 15px;
  border: 0.1px solid white;
}

.selectedProfile {
  background-color:rgb(225, 78, 78);
}


.fortune {
  background-color: rgb(66, 66, 66);
  margin-top: 1.5%;
  color: white;
  font-size: 15px;
  border: 0.1px solid white;
}

.selectedFortune {
  background-color: rgb(225,78,78);
}

.fixed {
  position:fixed;
  max-height:50px;
}

.karma {
  margin-left: 0.5%;
  margin-top: 2%;
  font-size: 17px;
}

.searchimage {
  width: 50px;
  height: 50px;
}


/*this is directly behind the nav bar to ensure that other
elements don't occupy the same space*/
div.spaceHolder{
  width: 100%;
  height:30px;
  margin-top: -1%;
  padding-top:2%;
  opacity:0;
}

div.navbar > span {
  color: rgb((92,91,91));
}

.modal-selector {
  background-color: white;
}

md-content{
  background-color: rgb(234, 234, 234);
  overflow:hidden;
}

a {
  text-decoration: none;
  color: black;
}

.png-icon{
    margin-bottom: -6px;
    margin-right: 2%;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

/*span.navBar{
  padding:10px 4px 9px 4px;
  margin-left: -4px;
  border: 2px solid rgb(180,80,80);
  border-radius: 3px;
}*/

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background:rgb(66, 66, 66);
  opacity: 0.8;
}


md-input-container {
  font-size: 14px;
  max-height: 20px;
  max-width: 240px;
  margin-right: 3%;
}
md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
  border-color: white;
}

md-input-container:{
  border-color: red;
}
md-input-container label {
  color: white;
  font-size: 20px;
}
md-input-container label input {
  font-size: 20px;
}


md-input-container.md-default-theme.md-hue-1:not(.md-input-invalid).md-input-focused.md-warn .md-input, md-input-container.md-hue-1:not(.md-input-invalid).md-input-focused.md-warn .md-input {
  border-color: white;
  color: white;
}

span.dropdown{
  margin-left: -200px;
  margin-top: 25px;
  width: 300px;
  max-height: 400px;
  overflow: auto;
  background-color: white;
  position: fixed;
  border-radius: 5px;
  z-index: 10;
  color:black;
}

.logout {
  padding: 1%;
}

td{
  text-align: center;
}

.fb-test {
  border: 4px solid blue;
  padding: 5px;
  width: 160px;
}

.fb-test:hover {
  background-color: blue;
  color: white;
}

/*tr, td, th{
  outline: thin solid;
}*/

/* Enables Top Leaders (ranked by current score) and most Recent Transaction to scroll across each pg */

.ticker {
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  overflow:hidden;
  padding-top: 4px;
}

.ticker div {
  width:200%;
  height:30px;
  position: absolute;
  overflow:hidden;
  animation: marquee 10s linear infinite;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.tickerBorder {
  border: 2px solid gray;
  height: 30px;
  margin-left: 10.0%;
  margin-right: 10.0%; 
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.errorMessage {
  color: red;
}

.center{
  text-align: center;
}

img.center {
  margin-left: 40%;
  margin-top: 10%;
}

.img-circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.username {
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
}

.currentScore {
  text-align: center;
}

.isNegative {
  color: red;
  font-size: 30px;
  text-align: center;
}

.positive {
  color:green;
  font-size: 30px;
  text-align: center;
}
.viewReport {
  text-align: center;
}

.floatright {
  float: right;
}

.buyButton.md-raised {
  background-color: rgb(225, 78, 78);
  color: white;
  opacity: 0.8;
}
.md-button.md-raised:not([disabled]):hover {
  background-color: rgb(275, 100, 100);
}


.table {
  border: 1px solid gray;
}

table.table {
  width:100%;
}

.md-table {
  overflow:hidden;
}

.logo {
  margin-top: 1%;
  margin-left: 1%;
}

.footer {
  margin-left: 1%;
  border: 1px solid white;
}

.search-white {
  margin-right:5px;

md-input-container .md-errors-spacer {
  min-height:0px;
  min-width: 0px
}
.dialog {
  background-color: rgb(234,234,234);
}

.team-member {
  width:10px;
  height:10px;
}



