div.navbar{
	margin-top: -1%;
	padding-top:2%;
	width: 100%;
	height:30px;
	background-color: blue;
	position: fixed;
	border-radius: 5px;
	z-index: 10;
}

/*this is directly behind the nav bar to ensure that other
elements don't occupy the same space*/
div.spaceHolder{
	width: 100%;
	height:30px;
	margin-top: -1%;
	padding-top:2%;
	opacity:0;
}

div.navbar > span {
	color: white;
}

md-content{
	overflow:hidden;
}
.png-icon{
    margin-bottom: -6px;
    margin-right: 2%;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

span.currentUserNavBar{
	opacity: .5;
	padding:10px 0 9px 0;
	background-color: black;
	border-right: 2px solid gray;
}

.navBar:hover {
  background-color: white;
  color: black;
}