/*@font-face {
  font-family: "sfText";
  src: url("./font.ttf") format("truetype");
}*/
  /*font-family: 'sfText';*/


html, body {
  background-color: rgb(234, 234, 234);
}
div.view{
	width: 80%;
	margin: 0% 10% 0 10%;
  background-color: rgb(234, 234, 234);
}


.right{
	float:right;
  padding-right: 10px;
}

.profile {
  background-color: rgb(66, 66, 66);
  color: white;
  margin-left: 27%;
  margin-top: 1.5%;
  font-size: 15px;
  border: 0.1px solid white;
}



.fortune {
  background-color: rgb(66, 66, 66);
  margin-top: 1.5%;
  color: white;
  font-size: 15px;
  border: 0.1px solid white;
}


.fixed {
  position:fixed;
  max-height:50px;
}

.karma {
  margin-left: 0.5%;
  margin-top: 2%;
  font-size: 17px;
}

.searchimage {
  width: 50px;
  height: 50px;
}


/*this is directly behind the nav bar to ensure that other
elements don't occupy the same space*/
div.spaceHolder{
  width: 100%;
  height:30px;
  margin-top: -1%;
  padding-top:2%;
  opacity:0;
}

div.navbar > span {
  color: rgb((92,91,91));
}

md-content{
  background-color: rgb(240, 240, 240); 
  overflow:hidden;
}

a {
  text-decoration: none;
  color: black;
}

.png-icon{
    margin-bottom: -6px;
    margin-right: 2%;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

/*span.navBar{
  padding:10px 4px 9px 4px;
  margin-left: -4px;
  border: 2px solid rgb(180,80,80);
  border-radius: 3px;
}*/

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background:rgb(66, 66, 66)
}


md-input-container {
  font-size: 14px;
  max-height: 20px;
  max-width: 150px;
  margin-right: 27%;
}
md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
  border-color: white;
}

md-input-container .md-input-focused {
  border-color: red;
}
md-input-container label {
  color: white;
  font-size: 20px;
}
md-input-container label input {
  font-size: 20px;
}


md-input-container:not(.md-input-invalid).md-input-cofused .md-input {
  
}
span.dropdown{
  margin-left: -200px;
  margin-top: 25px;
  width: 300px;
	max-height: 400px;
	overflow: auto;
	background-color: white;
	position: fixed;
	border-radius: 5px;
	z-index: 10;	
	color:black;
}

.logout {
  padding: 1%;
}

td{
	text-align: center;
}

.fb-test {
  border: 4px solid blue;
  padding: 5px;
  width: 160px;
}

.fb-test:hover {
  background-color: blue;
  color: white;
}

/*tr, td, th{
	outline: thin solid;
}*/

/* Enables Top Leaders (ranked by current score) to scroll across each pg */

.ticker {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.ticker {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(-100%);
 -webkit-transform:translateX(-100%);	
 transform:translateX(-100%);
 /* Apply animation to this element */	
 -moz-animation: example2 12s linear infinite;
 -webkit-animation: example2 12s linear infinite;
 animation: example2 12s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example2 {
 0%   { -moz-transform: translateX(-100%); }
 100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes example2 {
 0%   { -webkit-transform: translateX(-100%); }
 100% { -webkit-transform: translateX(100%); }
}
@keyframes example2 {
 0%   { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 		
 }
 100% { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 
 }
}

.errorMessage {
  color: red;
}

.center{
  text-align: center;
}

img.center {
  margin-left: 55%;
}

.img-circle {
  border-radius: 50%; 
  width: 100%;
  height: 100%;
}

.username {
  text-align: center; 
}

.currentScore {
  text-align: center;
}

.viewReport {
  text-align: center; 
}

.floatright {
  float: right; 
}

.buyButton.md-raised {
  background-color: rgb(225, 78, 78);
  color: white;
}
.md-button.md-raised:not([disabled]):hover {
  background-color: rgb(275, 100, 100);
}

.table {
  border: 1px solid gray;
}

table.table {
  width:100%;
}

.md-table {
  overflow:hidden;
}

.logo {
  margin-top: 1%;
  margin-left: 1%;
}

.footer {
  margin-left: 1%;
  margin-top: 1%;
  border: 1px solid white;
}

.search-white {
  margin-right:5px;
}


